{% extends 'base.html.twig' %}
{% block title %}{{ 'today'|trans }}{% endblock %}

{% block body %}
    <div class="row g-3 mb-4 justify-content-center">
        <h3>{{ date|date('d-m-Y') }}</h3>
        {{ include('calendar/_night_card.html.twig', {night}) }}
        {{ include('calendar/_crossings_card.html.twig', {crossings}) }}
    </div>

{% endblock %}
