<div class="row mt-3">
    <div class="col-lg-6 col-12">
        {{ include('components/form/_back_button.html.twig') }}
    </div>
    <div class="col-lg-6 col-12 mt-2 mt-md-0">
        {{ include('components/form/_submit_button.html.twig') }}
    </div>
</div>
