$primary: #EEF1F4;
$secondary: #D3E4F5;
$info: #D3E4F5;
$warning: #ffbe76;
$danger: #C17A68;
$dark: #2E3A47;
$light: #F5F4F0;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import './font';

body {
    padding-top: 88px;
}
