$primary: #EEF1F4;
$secondary: #E8ECF0;
$info: #D3E4F5;
$warning: #ffbe76;
$danger: #C17A68;
$dark: #2E3A47;
$light: #F5F4F0;
$success: #7FA58A;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';
@import './font';
@import './header';
@import './calendar';

body {
    padding-top: 88px;
}
