<div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-0">
    <a href="#"
       class="card border-1 rounded-4 h-100 text-decoration-none d-flex align-items-center justify-content-center py-4"
       style="border: dashed;">
        <div class="text-center">
            <twig:ux:icon name="mdi:plus-circle-outline" class="fs-2"/>
            <p class="mt-2 mb-0">{{ 'add_dog'|trans }}</p>
        </div>
    </a>
</div>
