{% extends 'base.html.twig' %}
{% block title %}{{ 'add_crossing'|trans }}{% endblock %}

{% block body %}
    <div class="row g-3 mb-4 justify-content-center">
        {{ include('components/form/_form.html.twig', {title: 'Croisement', form}) }}
    </div>
{% endblock %}
